.activity {
  width: 100vw;
  font-family: var(--font-mono);
  padding: 0rem 2rem 7rem 2rem;
  color: #e7ebc5;
  margin-top: 15rem;
}

.activity-title {
  text-transform: uppercase;
}

.activity-content {
  display: flex;
  width: 95vw;
  height: 75vh;
  border-radius: 25px;
  background-color: #e7ebc5;
  margin-top: 3rem;
  padding: 3rem;
  color: #7871aa;
}

.activity-left {
  width: 70%;
}

.activity-right {
  width: 30%;
  text-align: center;
  display: grid;
  padding-left: 2rem;
}

.activity-count {
  font-size: large;
  font-weight: 500;
}
