.insights {
  display: inline-block;
  width: 100vw;
  font-family: var(--font-mono);
  padding: 7rem 2rem 7rem 2rem;
  color: #e7ebc5;
}

.insights-title {
  text-transform: uppercase;
}

.insights-description {
  color: #e7ebc5;
  margin-top: 1rem;
}

.insights-description-list {
  margin-left: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.insights-description-list-item {
  margin-bottom: 1rem;
}

.insights-content {
  width: 95vw;
  border-radius: 25px;
  background-color: #e7ebc5;
  margin-top: 3rem;
}

.insights-radio-group {
  padding: 2rem 3rem;
}

.insights-radio-group-title {
  margin-bottom: 1rem;
  color: #7871aa;
  font-weight: 600;
}

.insights-dataset-chart {
  width: 100%;
  height: 400px;
  padding-left: 3rem;
}

.insights-dataset-chart-title {
  color: #7871aa;
  font-weight: 600;
}

.insights-salary-chart {
  width: 100%;
  height: 400px;
  padding-left: 3rem;
  margin-bottom: 5rem;
}

.insights-salary-chart-title {
  color: #7871aa;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.insights-radial-chart {
  width: 100%;
  height: 400px;
  padding-left: 10rem;
}

.insights-observations {
  width: 100%;
  height: 200px;
  padding-left: 3rem;
  margin-top: 3rem;
}

.insights-observations-title {
  margin-bottom: 1rem;
  color: #7871aa;
  font-weight: 600;
}

.insights-observations-content {
  margin-bottom: 1rem;
  color: #7871aa;
}