.biases {
  width: 100vw;
  font-family: var(--font-mono);
  padding: 9rem 2rem 0rem 2rem;
  color: #e7ebc5;
}

.biases-title {
  text-transform: uppercase;
}

.biases-description {
  color: #e7ebc5;
  margin-top: 1rem;
}

.biases-description-paragraph {
  margin-bottom: 1rem;
}

.biases-description-shap-image {
  height: 400px;
  width: 25%;
  position: relative;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 1rem;
}

.biases-content {
  width: 95vw;
  border-radius: 25px;
  background-color: #e7ebc5;
  margin-top: 3rem;
}

.biases-radio-group {
  padding: 2rem 3rem;
}

.biases-radio-group-title {
  margin-bottom: 1rem;
  color: #7871aa;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: large;
}

.biases-popover {
  margin-left: 0.5rem;
}

.biases-results-shap {
  display: flex;
}

.biases-results {
  width: 100%;
  padding-left: 3rem;
}

.biases-result {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.biases-result-title {
  color: #7871aa;
  font-weight: 600;
  margin-right: 3rem;
  width: 250px;
}

.biases-result-value {
  color: #7871aa;
}

.biases-shap {
  width: 75%;
}

.biases-shap-title {
  margin-bottom: 1rem;
  color: #7871aa;
  font-weight: 600;
  display: flex;
}

.biases-shap-image {
  height: 500px;
  width: 60%;
  position: relative;
  align-items: center;
  border-radius: 25px;
}

.shap-image {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 5%;
}

.biases-observations {
  width: 100%;
  padding-left: 3rem;
}

.biases-observations-title {
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: #7871aa;
  font-weight: 600;
  font-size: large;
}

.biases-observations-chart {
  height: 400px;
}

.biases-observations-explanation {
  color: #7871aa;
}

.biases-activity-title {
  text-transform: uppercase;
  margin-top: 7rem;
  margin-bottom: 1rem;
}

.biases-activity-description {
  margin-bottom: 2rem;
}
