.biases {
  width: 100vw;
  font-family: var(--font-mono);
  padding: 9rem 2rem 7rem 2rem;
  color: #e7ebc5;
  margin-top: 15rem;
}

.biases-title {
  text-transform: uppercase;
}

.biases-content {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.biases-left {
  position: relative;
  width: 50vw;
  height: 50vh;
}

.biases-right {
  position: relative;
  width: 50vw;
  height: 50vh;
}
